.image{
    display: flex;
    flex-direction: column;
}
.img-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
img{
    height: 300px;
    width: auto;
}

h2{
    color: black;
}